@{
    ViewBag.Title = "Home";
}
<div class="jumbotron" style="background-color: aquamarine; " >
    <h1> Welcome to <span style="color: darkgreen"><b>Fusion Cloud</b></span> </h1>
    <h3> Manage your store in cloud!</h3>
    <p> A cloud based POS solution, which can manage your purchase, sales and inventory smoothly. It can suggest you forecast report based on past transactions history. Let it asist you to cut your manual operation off so that you can put insight on your business. </p>
</div>